@{
}
<link rel="stylesheet" href="~/css/landingPage.css" asp-append-version="true" />
<section>
    <div class="row">
        <div class="col">
            <div class="position-relative">
                <img class="responsive-banner" src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1716101432/WebASP/banner/banner-gymmer.png" />
                <div class="container-text-banner">
                    <h1 class="text-banner1 ">Unleash Strength</h1>
                    <h1 class="text-banner2 fw-bold">Shape Tomorrow</h1>
                </div>
                <div class="banner-human">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="wcu-title">
        <h2>Why Choose Us</h2>
        <p>At XiTrum, we're not just another gym, we're your fitness family. Our commitment to your well-being goes beyond providing state-of-the-art equipment and facilities. Here's why you should choose us:</p>
    </div>
    <div class="wcu-container-fluid-grid">
        <div class="wcu-container-gird">
            <div class="wcu-grid">
                <img class="aboutUs-icon" src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1716104513/WebASP/icon/aboutus-icon1.png" />
                <h3>Best Training</h3>
                <p></p>
                <p>Our team of certified trainers is dedicated to helping you achieve your fitness goals safely and effectively. Whether you're a beginner or a seasoned athlete, we're here to support and guide you every step of the way</p>
            </div>
            <div class="wcu-grid">
                <img class="aboutUs-icon" src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1716104514/WebASP/icon/aboutus-icon2.png" />
                <h3>Variety of Programs</h3>
                <p></p>
                <p>From high-intensity interval training (HIIT) to yoga and everything in between, we offer a diverse range of classes and programs to keep your workouts exciting and challenging.</p>
            </div>

            <div class="wcu-grid">
                <img class="aboutUs-icon" src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1716104506/WebASP/icon/aboutus-icon3.png" />
                <h3>Community Atmosphere</h3>
                <p></p>
                <p>Joining our gym means becoming part of a supportive and motivating community. You'll find encouragement, accountability, and friendship among fellow members and staff alike.</p>
            </div>
            <div class="wcu-grid">
                <img class="aboutUs-icon" src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1716104515/WebASP/icon/aboutus-icon4.png" />
                <h3>Clean and Safe Environment</h3>
                <p></p>
                <p>Your health and safety are our top priorities. We maintain a clean and sanitized facility, adhere to strict safety protocols, and provide ample space for social distancing</p>
            </div>

        </div>
        <div class="wcu-grid-img">
            <img src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1716105430/WebASP/img/side-view-woman-running.jpg" />
        </div>
    </div>

</section>  
<section class="container">
    <div class="wcu-title">
        <h2>MemberShip</h2>
        <p>Gym session walk can help. Physical activity stimulates many brain chemicals the may leave you</p>
    </div>
    <div class="ms-container-fluid-gird">
        <div class="ms-container">
            <div class="text-center">
                <h3>Basic</h3>
                <p>20/mo</p>
            </div>
            <hr />
            <div class="ms-container-grid">
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Gym without Trainers</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Unilimited Access</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Access to all Clubs</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Trainning for all Classes</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Excusive Studio</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Additional Session</h7>
            </div>
            <div class="text-center container-fluid-bt">
                <div class="bt-container rounded-pill ">
                    <a class="btn ">Join Now</a>
                </div>
            </div>
        </div>
        <div class="ms-container">
            <div class="text-center">
                <h3>Basic</h3>
                <p>20/mo</p>
            </div>
            <hr />
            <div class="ms-container-grid">
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Gym without Trainers</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Unilimited Access</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Access to all Clubs</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Trainning for all Classes</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Excusive Studio</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Additional Session</h7>
            </div>
            <div class="text-center container-fluid-bt">
                <div class="bt-container rounded-pill ">
                    <a class="btn ">Join Now</a>
                </div>
            </div>
        </div>
        <div class="ms-container">
            <div class="text-center">
                <h3>Basic</h3>
                <p>20/mo</p>
            </div>
            <hr />
            <div class="ms-container-grid">
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Gym without Trainers</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Unilimited Access</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Access to all Clubs</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Trainning for all Classes</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Excusive Studio</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Additional Session</h7>
            </div>
            <div class="text-center container-fluid-bt">
                <div class="bt-container rounded-pill ">
                    <a class="btn ">Join Now</a>
                </div>
            </div>
        </div>
        <div class="ms-container">
            <div class="text-center">
                <h3>Basic</h3>
                <p>20/mo</p>
            </div>
            <hr />
            <div class="ms-container-grid">
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Gym without Trainers</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Unilimited Access</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Access to all Clubs</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Trainning for all Classes</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Excusive Studio</h7>
                <i class="fa-regular fa-circle-check"></i>
                <h7 class="m-2">Additional Session</h7>
            </div>
            <div class="text-center container-fluid-bt">
                <div class="bt-container rounded-pill ">
                    <a class="btn ">Join Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container"> 
    <div class="wcu-title">
        <h2>Client's Feedback</h2>
        <p>Here are some customer feedback about us</p>
    </div>
    <div class="fbc-grid">
        <div class="fbc-container">
            <p>Great facilities and equipment, but could use more variety in fitness classes.</p>
            <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <img src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1716221322/WebASP/img/feedback1.jpg" />
                <p class="m-2">Pham Thanh Nguyen</p>
            </div>
        </div>
        <div class="fbc-container">
            <p>Friendly staff and clean environment, but sometimes overcrowded during peak hours.</p>
            <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <img src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1716221322/WebASP/img/feedback2.jpg" />
                <p class="m-2">David Trans</p>
            </div>
        </div>
        <div class="fbc-container">
            <p>Love the personalized training sessions, really helped me reach my fitness goals.</p>
            <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <img src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1716221322/WebASP/img/feedback3.jpg" />
                <p class="m-2">Quoc Hung</p>
            </div>
        </div>
        <div class="fbc-container">
            <p>Appreciate the convenient hours, makes it easier to fit workouts into my busy schedule.</p>
            <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <img src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1716221322/WebASP/img/feedback4.jpg" />
                <p class="m-2">The King</p>
            </div>
        </div>
        <div class="fbc-container">
            <p>Would appreciate more regular maintenance on machines to prevent breakdowns.</p>
            <div>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <img src="https://res.cloudinary.com/dcpbdkeam/image/upload/v1716221322/WebASP/img/feedback5.jpg" />
                <p class="m-2">Kim Dung</p>
            </div>
        </div>
    </div>   
    
</section>